* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #353535;
    color: #333;
}

header {
    background-color: #000000;
    color: #a1d809;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-campo {
    margin-bottom: 20px;
}

.form-campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background-color: #dddddd;
}

.container button {
    background-color: #a1d809;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

.error {
    color: red
}